registry=https://registry.npmjs.org
@tailor-inc:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}
link-workspace-packages=true
auto-install-peers=true
node-linker=hoisted
public-hoist-pattern[]=@typescript/*
