# Dependency directories
node_modules/
pnpm-lock.yaml

# TypeScript compiled output
dist/
build/
out/
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Eslint cache
.eslintcache

# Coverage directory used by tools like istanbul
coverage/

# Tailor SDK
.tailor-sdk
performance-reports

# Other pnpm packages
packages
examples
