name: Add changeset for Renovate PR

on:
  pull_request:
    types: [opened]

permissions:
  contents: write

jobs:
  add-changeset-app:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    # Renovate PR only + security check
    if: |
      github.event.pull_request.user.login == 'renovate[bot]' &&
      github.event.pull_request.user.type == 'Bot'

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Create changeset file
        run: |
          set -eu
          pr_number="${{ github.event.pull_request.number }}"
          pr_title="${{ github.event.pull_request.title }}"
          if [ -z "$pr_title" ]; then
            pr_title="Update dependencies"
          fi
          mkdir -p .changeset
          cat <<EOF > ".changeset/renovate-${pr_number}.md"
          ---
          "@tailor-platform/sdk": patch
          ---

          $pr_title

          EOF

      - name: Commit changeset
        uses: suzuki-shunsuke/commit-action@cc96d3a3fd959d05e9b79ca395eb30b835aeba24 # v0.0.7
        with:
          app_id: ${{ secrets.TAILOR_GITHUB_APP_ID }}
          app_private_key: ${{ secrets.TAILOR_GITHUB_APP_PRIVATE_KEY }}
          commit_message: "chore: add changeset for renovate"
          files: |
            .changeset/renovate-${{ github.event.pull_request.number }}.md
          fail_on_self_push: false
