name: Add changeset for Renovate PR

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: write

jobs:
  add-changeset-app:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        if: github.event.sender.type != 'Bot' && github.actor != 'tailor-pr-trigger[bot]'
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Create changeset file
        if: github.event.sender.type != 'Bot' && github.actor != 'tailor-pr-trigger[bot]'
        run: |
          PR_TITLE="${{ github.event.pull_request.title }}"
          PR_NUMBER="${{ github.event.pull_request.number }}"
          FILENAME="renovate-${PR_NUMBER}.md"
          cat > ".changeset/${FILENAME}" << EOF
          ---
          "@tailor-platform/sdk": patch
          ---

          ${PR_TITLE}
          EOF

      - name: Commit changeset
        if: github.event.sender.type != 'Bot' && github.actor != 'tailor-pr-trigger[bot]'
        uses: suzuki-shunsuke/commit-action@cc96d3a3fd959d05e9b79ca395eb30b835aeba24 # v0.0.7
        with:
          app_id: ${{ secrets.TAILOR_GITHUB_APP_ID }}
          app_private_key: ${{ secrets.TAILOR_GITHUB_APP_PRIVATE_KEY }}
          commit_message: "chore: add changeset for renovate"
          files: |
            .changeset/renovate-${{ github.event.pull_request.number }}.md
          fail_on_self_push: false
