name: "Workspace Apply Test"

on:
  pull_request:
    paths:
      - .github/workflows/apply.yml
      - example/**
      - packages/**
      - package.json
      - pnpm-lock.yaml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  apply:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            shell: bash
            name: Linux
            slug: linux
          - os: windows-latest
            shell: pwsh
            name: Windows (PowerShell)
            slug: win-pwsh
          - os: windows-latest
            shell: cmd
            name: Windows (CMD)
            slug: win-cmd
    runs-on: ${{ matrix.os }}
    name: Apply (${{ matrix.name }})
    permissions:
      contents: read
    timeout-minutes: 15
    defaults:
      run:
        shell: ${{ matrix.shell }}
    steps:
      - name: checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: "false"

      - name: Install aqua
        uses: ./.github/actions/install-aqua

      - name: Install deps
        uses: ./.github/actions/install-deps

      - name: Create workspace
        working-directory: example
        run: pnpm --silent tailor-sdk workspace create --name "sdk-ci-${{ github.run_id }}-${{ matrix.slug }}" --region asia-northeast --json > workspace.json
        env:
          TAILOR_PLATFORM_TOKEN: ${{ secrets.TAILOR_PLATFORM_PAT }}
          TAILOR_PLATFORM_ORGANIZATION_ID: ${{ secrets.TAILOR_PLATFORM_ORGANIZATION_ID }}
          TAILOR_PLATFORM_FOLDER_ID: ${{ secrets.TAILOR_PLATFORM_FOLDER_ID }}

      - name: Set workspace ID
        working-directory: example
        shell: bash
        run: |
          WORKSPACE_ID=$(jq -r '.id' workspace.json)
          echo "TAILOR_PLATFORM_WORKSPACE_ID=$WORKSPACE_ID" >> "$GITHUB_ENV"

      - name: Generate
        working-directory: example
        run: pnpm run generate
        env:
          TAILOR_PLATFORM_TOKEN: ${{ secrets.TAILOR_PLATFORM_PAT }}

      - name: Apply workspace
        working-directory: example
        run: pnpm run apply
        env:
          TAILOR_PLATFORM_TOKEN: ${{ secrets.TAILOR_PLATFORM_PAT }}

      - name: Seed data
        working-directory: example
        run: |
          pnpm run seed
          pnpm run seed:truncate -y
        env:
          TAILOR_PLATFORM_TOKEN: ${{ secrets.TAILOR_PLATFORM_PAT }}

      - name: Run e2e tests
        working-directory: example
        run: pnpm test:e2e
        env:
          TAILOR_PLATFORM_TOKEN: ${{ secrets.TAILOR_PLATFORM_PAT }}

      - name: Destroy workspace
        if: always()
        working-directory: example
        run: pnpm tailor-sdk workspace delete --workspace-id "${{ env.TAILOR_PLATFORM_WORKSPACE_ID }}" --yes
        env:
          TAILOR_PLATFORM_TOKEN: ${{ secrets.TAILOR_PLATFORM_PAT }}
