name: Check Licenses

on:
  push:
    branches: [main]
    paths:
      - "pnpm-lock.yaml"
      - "scripts/check-license.js"
  pull_request:
    paths:
      - "pnpm-lock.yaml"
      - "scripts/check-license.js"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-licenses:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - name: Install deps
        uses: ./.github/actions/install-deps

      - name: Check licenses
        run: node scripts/check-license.js
