name: Check Licenses

on:
  push:
    branches: [main]
    paths:
      - "pnpm-lock.yaml"
      - "scripts/check-license.js"
  pull_request:
    paths:
      - "pnpm-lock.yaml"
      - "scripts/check-license.js"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-licenses:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install deps
        uses: ./.github/actions/install-deps

      - name: Check licenses
        run: node scripts/check-license.js
