name: Lint / Format / Type Check

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install aqua
        uses: ./.github/actions/install-aqua

      - name: Install deps
        uses: ./.github/actions/install-deps

      - name: Run lint
        run: pnpm lint

      # Ensure no executable files are present
      # refs: https://github.com/changesets/action/issues/523
      - name: Check for executable files
        run: |
          executable_files=$(git ls-files | while read -r file; do [ -x "$file" ] && echo "$file"; done || true)
          if [ -n "$executable_files" ]; then
            echo "Error: Found executable files (changesets/action does not support executable files):"
            echo "$executable_files"
            exit 1
          fi

      - name: Check format
        run: pnpm format:check

      - name: Check type
        run: pnpm typecheck
