name: Generate

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install deps
        uses: ./.github/actions/install-deps

      - name: Run generate
        run: pnpm exec turbo run generate

      - name: Get changed files
        id: changes
        run: |
          files=$(git diff --name-only | tr '\n' ' ')
          echo "files=${files}" >> "$GITHUB_OUTPUT"

      - name: Commit changes
        if: steps.changes.outputs.files != ''
        uses: suzuki-shunsuke/commit-action@87b297f0ce551411b43d1880f4fb3cbc60381055 # v0.0.14
        with:
          app_id: ${{ secrets.TAILOR_GITHUB_APP_ID }}
          app_private_key: ${{ secrets.TAILOR_GITHUB_APP_PRIVATE_KEY }}
          commit_message: "chore: run generate"
          files: ${{ steps.changes.outputs.files }}
