name: Check Lint and Format

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-lint-format:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false

      - name: Install aqua
        uses: ./.github/actions/install-aqua

      - name: Install deps
        uses: ./.github/actions/install-deps

      - name: Run lint
        run: pnpm lint

      - name: Check format
        run: pnpm format:check

      - name: Check type
        run: pnpm typecheck
