name: Check Lint and Format

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-lint-format:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Install deps
        uses: ./.github/actions/install-deps

      - name: Run lint
        run: pnpm lint

      - name: Check format
        run: pnpm format:check

      - name: Check type
        run: pnpm typecheck
