name: Check Lint and Format

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-lint-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install
        env:
          GITHUB_PACKAGES_READ_TOKEN: ${{ secrets.TAILOR_NPM_REGISTRY_TOKEN }}

      - name: Run lint
        run: pnpm lint
        env:
          GITHUB_PACKAGES_READ_TOKEN: ${{ secrets.TAILOR_NPM_REGISTRY_TOKEN }}

      - name: Check format
        run: pnpm format:check
        env:
          GITHUB_PACKAGES_READ_TOKEN: ${{ secrets.TAILOR_NPM_REGISTRY_TOKEN }}

      - name: Check type
        run: pnpm typecheck
        env:
          GITHUB_PACKAGES_READ_TOKEN: ${{ secrets.TAILOR_NPM_REGISTRY_TOKEN }}
