name: securefix

on: pull_request

permissions: {}

jobs:
  filter-aqua-deps:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      has_changed: ${{ steps.changed-files.outputs.paths_any_changed  == 'true' }}
    timeout-minutes: 5
    steps:
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
        with:
          files_yaml: |
            paths:
              - .github/workflows/securefix.yml
              - aqua.yaml
              - aqua-checksums.json
  update-aqua-deps:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: filter-aqua-deps
    if: needs.filter-aqua-deps.outputs.has_changed == 'true'
    timeout-minutes: 5
    steps:
      - name: Checkout the repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false
      - name: Install aqua
        uses: ./.github/actions/install-aqua
      - name: Fix aqua-checksums.json
        run: aqua upc -prune
      - name: Commit and push
        uses: csm-actions/securefix-action@70c01dc077f426b39fc8e2f5e52f1f01a61f9798 # v0.3.5
        with:
          app_id: ${{ vars.SECUREFIX_CLIENT_APP_ID }}
          app_private_key: ${{ secrets.SECUREFIX_CLIENT_APP_PRIVATE_KEY }}
          server_repository: securefix-server
          commit_message: "chore(securefix): update aqua-checksums.json"
  filter-sdk-generate:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      has_changed: ${{ steps.changed-files.outputs.paths_any_changed  == 'true' }}
    timeout-minutes: 5
    steps:
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
        with:
          files_yaml: |
            paths:
              - .github/workflows/securefix.yml
              - examples/**.ts
              - packages/tailor-sdk/**.ts
              - packages/create-tailor-sdk/**.ts
  update-sdk-generate:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: filter-sdk-generate
    if: needs.filter-sdk-generate.outputs.has_changed == 'true'
    timeout-minutes: 5
    steps:
      - name: Checkout the repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false
      - name: Install deps
        uses: ./.github/actions/install-deps
      - name: Generate files
        run: pnpm exec turbo run generate --force
      - name: Commit and push
        uses: csm-actions/securefix-action@70c01dc077f426b39fc8e2f5e52f1f01a61f9798 # v0.3.5
        with:
          app_id: ${{ vars.SECUREFIX_CLIENT_APP_ID }}
          app_private_key: ${{ secrets.SECUREFIX_CLIENT_APP_PRIVATE_KEY }}
          server_repository: securefix-server
          commit_message: "chore(securefix): update sdk-generated files"
