name: Test

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        name: Install pnpm
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install
        env:
          GITHUB_PACKAGES_TOKEN: ${{ secrets.TAILOR_NPM_REGISTRY_READ_TOKEN }}

      - name: Run tests
        run: pnpm test
        env:
          GITHUB_PACKAGES_TOKEN: ${{ secrets.TAILOR_NPM_REGISTRY_READ_TOKEN }}
