name: Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install
        env:
          GITHUB_PACKAGES_READ_TOKEN: ${{ secrets.TAILOR_NPM_REGISTRY_TOKEN }}

      - name: Run tests
        run: pnpm test
        env:
          GITHUB_PACKAGES_READ_TOKEN: ${{ secrets.TAILOR_NPM_REGISTRY_TOKEN }}
