name: TypeScript Graph

on: pull_request
jobs:
  sdk-typescript-graph:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: true
      - uses: ysk8hori/delta-typescript-graph-action@7abea70623af0422e16d374720e8dbf73e6ac674 # v1.2.4
        with:
          comment-title: "TypeScript Graph for SDK"
          access-token: ${{ secrets.GITHUB_TOKEN }}
          tsconfig: "./packages/sdk/tsconfig.json"
          debug: true
          in-details: true
          exclude: "node_modules, tests, *.test.ts, dist"
          include-index-file-dependencies: true
          max-size: 100
          show-metrics: true

  example-typescript-graph:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: true
      - uses: ysk8hori/delta-typescript-graph-action@7abea70623af0422e16d374720e8dbf73e6ac674 # v1.2.4
        with:
          comment-title: "TypeScript Graph for Example"
          access-token: ${{ secrets.GITHUB_TOKEN }}
          tsconfig: "./example/tsconfig.json"
          debug: true
          in-details: true
          exclude: "node_modules, tests, *.test.ts, dist, .tailor-sdk"
          include-index-file-dependencies: true
          max-size: 100
          show-metrics: true
