name: TypeScript Graph

on: pull_request
jobs:
  sdk-typescript-graph:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          persist-credentials: false
      - uses: ysk8hori/delta-typescript-graph-action@7abea70623af0422e16d374720e8dbf73e6ac674 # v1.2.4
        with:
          comment-title: "TypeScript Graph for SDK"
          access-token: ${{ secrets.GITHUB_TOKEN }}
          tsconfig: "./packages/tailor-sdk/tsconfig.json"
          debug: true
          in-details: true
          exclude: "node_modules, tests, *.test.ts, dist"
          include-index-file-dependencies: true
          max-size: 100
          show-metrics: true

  examples-basic-typescript-graph:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          persist-credentials: false
      - uses: ysk8hori/delta-typescript-graph-action@7abea70623af0422e16d374720e8dbf73e6ac674 # v1.2.4
        with:
          comment-title: "TypeScript Graph for Examples/Basic"
          access-token: ${{ secrets.GITHUB_TOKEN }}
          tsconfig: "./examples/basic/tsconfig.json"
          debug: true
          in-details: true
          exclude: "node_modules, tests, *.test.ts, dist, .tailor-sdk"
          include-index-file-dependencies: true
          max-size: 100
          show-metrics: true
